<html>
<head>
	<title>My Tech Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/dash.css">
  <link rel="stylesheet" type="text/css" href="/css/post.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<!-- NAV -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    {{!-- discuss simplifying nav bar --}}
    <div class="navbar-header">
      <a class="navbar-brand"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> TechBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/profile">Profile</a></li>
         <li><a href="/dashboard/create">Create</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" id="logout-link">Log out <i class="fa fa-user" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- JS SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.1.1.js"i ntegrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>


    <main>
      {{{body}}}
    </main>
  </body>

</html>
{{! inline script to handle click of logout button }}
<script>
  const logout = async function() { const response = await
  fetch('/api/user/logout', { method: 'POST', headers: { 'Content-Type':
  'application/json' }, }); if (response.ok) { document.location.replace('/'); }
  else { alert('Failed to log out'); } };
  document.querySelector('#logout-link').addEventListener('click', logout);
</script>

<script src="/js/post.js"></script>
