{{!-- where all users post are shown  --}}
<div class="jumbotron">
  <h1><i class="fa" aria-hidden="true"></i> Welcome to the Tech Blog </h1>
  <p>Connect with other tech lovers from all over the world!</p>
  <p><a class="btn btn-primary btn-lg" href ="/dashboard/create" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create post</a></p>
</div>
<div class="all-posts">
{{#each posts }}
{{>post this }}
{{/each}}
</div>
<script src="js/comment.js">
  
</script>