
{{!-- TODO - write the template to show all posts on the / route --}}
  <input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
  <input type="radio" id="toggle--signup" name="toggle" class="ghost" />

  <img class="logo framed" src="../public/images/logo.png" alt="tech blog logo" />

 <form class="form form--login framed">
    <input type="email" placeholder="Email" class="input input--top" id="email-login" autocomplete="email"/>
    <input type="password" placeholder="Password" class="input" id="password-login" autocomplete="current-password"/>
    <input type="submit" value="Log in" class="input input--submit" />
    
    <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
  </form>
  
  <form class="form form--signup framed">
    <h2 class="text text--centered text--omega">A space for all tech lovers to connect!</h2>

    <input type="email" placeholder="Email" class="input input--top" id="email-signup" autocomplete="email"/>
    <input type="password" placeholder="Password" class="input" id="password-signup" autocomplete="current-password"/>
    <input type="text" placeholder="Username" class="input" id="user-signup" autocomplete="username"/>
    <input type="submit" value="Sign up" class="input input--submit" />
    
    <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
  </form>
<div class="background-image"></div>

  <script src="/public/js/login.js"></script>
