{{!-- where users can see all their posts --}}
<div class="jumbotron">
  <h1><i class="fa" aria-hidden="true"></i> Your Posts! </h1>
  <p>Update or delete any of your posts here!!!</p>
</div>
<div class="upost">
{{#each posts }} 
{{>user this }}
{{/each}}
</div>
