body {
	padding-top: 70px;
	background-image: url('../images/photo-1511379938547-c1f69419868d.png');
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	color: white;
}
nav
{
   position: fixed;
   top: 0px;
}
.jumbotron{
	color: #3A1013ff;
	background: transparent;
	/*background-size: cover;
	background-position: center;*/
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-shadow: 1px 1px 2px #C5A6A5ff;

}
.navbar-inverse {
	background: #3A1013ff;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
h1 {
	font-weight: 700;
	font-size: 8em;
}
html {
	height: 100%;
}
hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

.btn-primary {
    background-color: #562E26ff;
    border-color: #562E26ff;
}